.input {
    height: 20px;
    aspect-ratio: 1;
    border-radius: 5px;
    border: 1px solid black;
    position: relative;
}
.blockPicker {
    position: absolute;
    transform: translate(calc(-50% + 10px), 15px);
    z-index: 5;
}
.background {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: antiquewhite;
}
