.input {
    height: 25px;
    aspect-ratio: 1;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    position: relative;
    cursor: pointer;
    outline: rgb(255, 255, 255);
}
.blockPicker {
    position: absolute;
    transform: translate(calc(-50% + 10px), 15px);
    z-index: 5;
}
.background {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: antiquewhite;
}
