.circle {
    aspect-ratio: 1;
    height: clamp(320px, 34vh, 650px);
    border-radius: 50%;
    overflow: hidden;
    background-color: rgb(19, 19, 19);
    position: relative;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    background-color: aquamarine;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}
