.oneChoice {
    background-color: white;
    min-width: 260px;
    max-width: 800px;
    width: 40vw;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dragDots {
    display: grid;
    grid-template-columns: 7px 7px;
    grid-template-rows: 7px 7px 7px;
    gap: 6px;
}
.dot {
    border-radius: 50%;
    background-color: rgb(209, 209, 209);
    height: 7px;
    width: 7px;
}
@media (max-width: 750px) {
    .oneChoice {
        padding: 8px;
        margin: 8px;
    }
}
