.oneChoice {
    background-color: white;
    min-width: 320px;
    max-width: 400px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dragDots {
    display: grid;
    grid-template-columns: 7px 7px;
    grid-template-rows: 7px 7px 7px;
    gap: 6px;
}
.dot {
    border-radius: 50%;
    background-color: rgb(209, 209, 209);
    height: 7px;
    width: 7px;
}
